li.nav-item{
    box-shadow: 1px 2px 10px black;
    border-radius: 8px;
    width:auto;
    text-align: center;
    
}


li.nav-item .active{
    border-radius: 8px;
    background-color: #0049b6;
    font-weight: 500;
}   



