<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    
    <a class="navbar-brand d-flex align-items-center" routerLink="/contacts">
      <i class="bi bi-person-circle me-2 text-white"></i>
      <span class="text-white">Agenda Telefônica</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/newcontact">
            <i class="bi bi-person-plus-fill me-2"></i>Novo Contato
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/blockeds">
            <i class="bi bi-ban me-2"></i>Bloqueados
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white" routerLink="/contacts">
            <i class="bi bi-person-lines-fill me-2"></i>Contatos
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>
